*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color:#feb47b;
    background-size: cover;
    background-position: initial;
    font-family: sans-serif;
    padding: 20px;
    margin: 0;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
}.main{
    background-image: url("12.jpg");
    background-size: 200%;
    border-image-width: 20%;
}

.menu-bar
{
    background: gold;
    text-align: center;
    padding: 0;
    margin: 0;
    justify-content: center;
    text-align: center;
    background-image: url('');
}

.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: white;
}

.menu-bar ul li
{
    width: 100x;
    padding: 15px;
    
}

.menu-bar ul li a
{
    text-decoration: none;
    color:black;
}

.active, .menu-bar ul li:hover
{
    background: red;
    border-radius: 20px;
}

.menu-bar .fa
{
    margin-right: 5px;

}

.sub-menu-1
{
    display: none;
}

.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: gold;
    margin-top: 15px;
    margin-left: 15px;
}

.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: red;
}
.sub-menu-2
{
    display: none;
}

.menu-bar ul li:hover .sub-menu-2
{
    display: block;
    position: absolute;
    background: gold;
    margin-top: 15px;
    margin-left: 15px;
}

.menu-bar ul li:hover .sub-menu-2 ul
{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-2 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-2 ul li:last-child
{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-2 ul li a:hover
{
    color: red;
}



.container
{
    max-width: 1200px;
    margin: auto;
    background: #f2f2f2;
    overflow: auto;
    position: center;
    
}

.center {
    margin: auto;
    width: 100%;
    border: 3px solid green;
    padding: 10px;
  }

.gallery
{
    margin: 5px;
    border: 1px solid #ccc;
    float: center;
    width: 395px;
    display: grid;
    position: center;
}

.gallery img
{
    width: 100%;
    height: auto;
}

.desc
{
    padding: 15px;
    text-align: center;
}



.gallery img
{
    width: 200px;
    height: 200px;
    image-resolution: 100%;
}

img {
    width: 60%;
    height: 500px;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.desc
{
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: red;
    font-weight: 100;
    font-size: 150%;
}
